/**
 * @file flex-stylus-class
 * @author zhangsiyuan(1021808625@qq.com)
 */
//@import '~flex-stylus-class'
body *
    box-sizing border-box

.item
    height 50px
    width 50px
    background-color #E0E0E0
    margin 10px

section
    border 1px solid #424242

.section-200
    height 200px
    width 200px
